<!DOCTYPE html>
<html>
<head>
  <% include include/head %>
</head>
<body>
  <% include include/menu-left-short %>
    <header class="header">
      <span class="menu-left">Bonjour M. Goy</span>
      <span class="menu-right">Déconnexion</span>
    </header>

    <section class="questionnaire">
      <h1>Liste des questionnaires</h1>
      <table class="table" cellspacing="0">
        <thead>
          <tr>
            <td></td>
            <td>Libelle</td>
            <td>Groupe</td>
            <td>Nb Questions</td>
            <td>Durée</td>
            <td>Options</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>#1</td>
            <td>Quesionnaire sur le ciel</td>
            <td>MIAW</td>
            <td>10 questions</td>
            <td>~ 12:00</td>
            <td><a href="question.html">Lancer</a> - <a href="#">Supprimer</a> </td>
          </tr>
          <tr>
            <td>#2</td>
            <td>Quesionnaire sur la terre</td>
            <td>MIAW</td>
            <td>20 questions</td>
            <td>~ 20:00</td>
            <td><a href="question.html">Lancer</a> - <a href="#">Supprimer</a> </td>
          </tr>
          <tr>
            <td>#3</td>
            <td>Quesionnaire sur les maths</td>
            <td>MIAW</td>
            <td>5 questions</td>
            <td>~ 5:00</td>
            <td><a href="question.html">Lancer</a> - <a href="#">Supprimer</a> </td>
          </tr>
        </tbody>
      </table>
    </section>


  </body>
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
</html>
