<!DOCTYPE html>
<html>
<head>
  <% include include/head %>
</head>
<body>
  <% include include/menu-left-short %>
    <header class="header">
      <span class="menu-left">Vous êtes actuellement dans le lobby #<%= idQuestionnaire %></span>
      <span id="btn-disconnect" class="menu-right"><a href="/">Quitter la partie</a></span>
    </header>

    <section class="questionnaire">
      <div id="userList">
        <h3>Professeur</h3>
        <div id="professeur"></div>
        <h3>Elèves</h3>
        <div id="eleves"></div>
      </div>
    </section>


  </body>
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript">
    var socket = io.connect('http://localhost:8080');

    var user = JSON.parse('<%- utilisateur %>');

    socket.emit('newConnection', {'user': user, 'questionnaire': <%= idQuestionnaire %>});

    socket.on('userList'+<%= idQuestionnaire %>, function(users){
      console.log(users);
      var professeur = document.getElementById('professeur');
      var eleves = document.getElementById('eleves');
        while(professeur.firstChild){
          professeur.removeChild(professeur.firstChild);
        }
        while(eleves.firstChild){
          eleves.removeChild(eleves.firstChild);
        }
        //console.log(users);
        Object.keys(users).forEach(function(key){
          var newUser = document.createElement('p');
          newUser.appendChild(document.createTextNode(users[key].pseudo));
          if(users[key].role){
            professeur.appendChild(newUser);
          }else{
            eleves.appendChild(newUser);
          }
        });
    })

    $('#btn-disconnect').click(function(){
      socket.disconnect();
    });
  </script>
</html>
