<!DOCTYPE html>
<html>
<head>
  <% include include/head %>
</head>
<body>
  <% include include/menu-left-short %>
    <header class="header">
      <span class="menu-left">Vous êtes actuellement dans le lobby</span>
      <span class="menu-right">Quitter la partie</span>
    </header>

    <section class="questionnaire">
  
    </section>


  </body>
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
</html>
