<!DOCTYPE html>
<html>
  <head>
    <% include include/head %>
  </head>
  <body>
    <% include include/menu-left %>
    <header class="header-question">
      <span class="menu-center">Quel est la couleur du cheval blanc d'Henry IV ?</span>
      <div id="countdown">Réponses</div>
    </header>

    <section class="reponses">

      <div class="chart-outer-large">
        <div class="chart chart-bar active">
          <div class="chart-inner">
            <div class="chart-item chart-item-1" style="height: 35%;">
              <span class="chart-text"><span class="question-text">Réponse 1</span> <br><br> 15</span>
            </div>
            <div class="chart-item chart-item-2" style="height: 6%;">
              <span class="chart-text"><span class="question-text">Réponse 2</span> <br><br> 2</span>
            </div>
            <div class="chart-item chart-item-3" style="height: 14%;">
              <span class="chart-text"><span class="question-text">Réponse 3</span> <br><br> 6</span>
            </div>
            <div class="chart-item chart-item-4" style="height: 46%;">
              <span class="chart-text"><span class="question-text">Réponse 4</span> <br><br> 20</span>
            </div>
          </div>
        </div>
      </div>

    </section>
  </body>
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>

</html>
