<ul class="cbp-vimenu">
  <li><a href="#" class="icon-logo">Logo</a></li>
  <li><a href="stats.html" class="icon-download">Rejoindre</a></li>
  <li><a href="liste.html" class="icon-archive">Lister</a></li>
</ul>
