<ul class="cbp-vimenu">
  <li><a href="#" class="icon-logo-question">Logo</a></li>
  <li><a href="creation.html" class="icon-pencil">Créer</a></li>
  <li><a href="liste.html" class="icon-archive">Lister</a></li>
  <li><a href="stats.html" class="icon-download">Stats</a></li>
</ul>
